<div class="panel panel-success">
  <div class="panel-heading">Products List</div>
  <div class="panel-body">
    <table class="table">
      <tr>
        <th>Product Name</th>
        <th>Category</th>
        <th>Description</th>
        <th>Price &nbsp;
          <select class="form-control" (change)="getFilterValue($event.target.value);">
            <option value="">Select Filter By Price</option>
            <option value="ASC">Price: Low to High</option>
            <option value="DESC">Price: High to Low</option>
          </select>
        </th>
        <th>Image</th>
        <th>Action</th>
      </tr>
      <tr *ngFor="let products_new of products; let i = index">
        <td>{{ products_new.product_name }}</td>
        <td>{{ products_new.product_catetgory.category_name }}</td>
        <td>{{ products_new.description }}</td>
        <td>{{ products_new.price }}</td>
        <td>
          <img src="/assets/uploads/product_attachment/{{products_new.product_image}}" style="height:100px; width:100px">
        </td>
        <td>
          <a class="btn btn-info" href="/products/add/{{ products_new.id }}">Edit</a>
          <a class="btn btn-danger" (click)="deleteProduct(products_new.id);" style="cursor:pointer;">Delete</a>
        </td>
      </tr>
    </table>
  </div>
</div>